/* Adjust font size for dropdown label when no option is selected */
.dropdown-select .MuiInputLabel-root {
    font-size: 14.4px !important; /* Ensure the label font size is applied */
}

/* Adjust font size for dropdown label when focused */
.dropdown-select .MuiInputLabel-root.Mui-focused {
    font-size: 14.4px !important;
}

/* Adjust font size for the selected option (dropdown value) */
.dropdown-select .MuiSelect-select {
    font-size: 14.4px !important; /* Ensure selected option text has the correct font size */
}

/* Adjust font size for the selected option when focused */
.dropdown-select .MuiSelect-select:focus {
    font-size: 14.4px !important;
}

/* Style for the dropdown options (MenuItem) */
.custom-dropdown .MuiMenuItem-root {
    font-size: 14.4px !important; /* Set font size for dropdown options */
}

/* More specific targeting for MUI's outlined input */
.dropdown-select .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: #ced4da !important;
    /* Default border color */
}

/* Hover state */
.dropdown-select .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: #ced4da !important;
}

/* Focused state */
.dropdown-select .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #ced4da !important;
}

/* Style for the dropdown label */
.dropdown-label.Mui-focused {
    color: #580f8b !important;
    /* Color when focused */
}

/* Highlighted (hover) state */
.custom-dropdown .MuiMenuItem-root:hover {
    background-color: #e6d5f3 !important; /* A lighter purple for hover */
  }
  
  /* Selected state */
  .custom-dropdown .MuiMenuItem-root.Mui-selected {
    background-color: #e7d4f5 !important; /* The purple color for selected state */
  }
  
  /* Selected state when hovered */
  .custom-dropdown .MuiMenuItem-root.Mui-selected:hover {
    background-color: #dcbfea !important; /* A slightly darker purple when selected and hovered */
  }
  