.cmr-label{
    font-size: 14.4px;
}
.cmr-checkbox {
    font-family: "Source Sans 3", sans-serif !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    font-weight: 400 !important;
}

/* Custom styles for the Checkbox */
.MuiCheckbox-root {
    color: #580F8B !important;  /* Default color (unchecked) */
    background-color: transparent !important; /* Ensure no background by default */
}

.Mui-checked {
    color: #580F8B !important;  /* Checked state color */
}

.MuiCheckbox-root:active, .MuiCheckbox-root:focus {
    background-color: transparent !important; /* Remove active state background */
}

/* Optional: Change color on hover or focus */
.MuiCheckbox-root.Mui-focusVisible:hover,
.MuiCheckbox-root:hover {
    background-color: transparent !important;  
}